<% include header %>
    <h1>__(Login on Wallaclone)</h1>

    <% include loader %>

        <% if (messages.error) { %>
            <p class="message_error">
                <%- messages.error %>
            </p>
            <% } %>
                <% if (messages.success) { %>
                    <p class="message_success">
                        <%- messages.success %>
                    </p>
                    <% } %>

                        <form action="/login" method="post" name="form1">
                            <div class="form-group">
                                <label for="name">__(Name)</label>
                                <input type="name" name="name" class="form-control" id="name"
                                    aria-describedby="nameHelp" placeholder="Enter name" value="" required />
                            </div>

                            <div class="form-group">
                                <label for="password">__(Password)</label>
                                <input type="password" name="password" class="form-control" id="password"
                                    aria-describedby="emailHelp" placeholder="*********" value="" required />
                            </div>

                            <input type="submit" class="btn btn-primary" value="Add" />
                            <a href="auth/login" class="btn btn-success ml-2">Login</a>
                        </form>

                        <% include footer %>